* {
    box-sizing: border-box;

}

.cont {
    display: flex;
}

html,
body {
    overflow-x: hidden;
    height: 100%;

}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;


}

.header {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 10;
}

#main {
    height: 100%;
    margin-top: 60px;
    padding: 10px 50px;

}

#sidebarmenu {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    margin-top: 60px;
    background-color: #2e86de;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;

}

#opensidebarmenu:checked~#sidebarmenu {
    transform: translateX(0px);
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;

}

.menu li {
    color: white;
    border-bottom: 1px solid rgba(256, 256, 256, 0.10);

}

.menu li a {
    color: #fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
}

.sidebaricontoggle {

    height: 22px;
    width: 22px;
    position: absolute;
    z-index: 20;
    top: 22px;
    left: 15px;
    cursor: pointer;


}

.spinner {
    height: 3px;
    background-color: rgb(14, 199, 42);
    transition: all 0.3s;
}

.spinner.middle,
.spinner.bottom {
    margin-top: 3px;
}

#opensidebarmenu:checked~.sidebaricontoggle>.spinner.middle {
    opacity: 0;
}

#opensidebarmenu:checked~.sidebaricontoggle>.spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}

#opensidebarmenu:checked~.sidebaricontoggle>.spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}

.header>img {
    height: 50px;
    width: 60px;
    opacity: 100%;
    margin-left: 40px;
}

#headtext {
    text-align: center;
    margin-top: 9px;
    margin-left: 500px;
    font-style: oblique;
    color: #2e86de;
}

#sign,
#log,
#cart {
    height: 60%;
    margin: 3px;
    margin-top: 10px;
    margin-right: 10px;

    background-color: rgb(78, 17, 175);
    border-radius: 8px;


}

#cart {

    margin-left: 400px;

}

#cart img {
    height: 100%;
    width: 40px;

}

.first {
    height: 500px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    color: rgb(10, 160, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid black;
    background-image: url(https://www.eastbrunswick.org/ImageRepository/Document?documentId=1723);
}

.first>h2,
.first>p,
.first>input,
.first>select {
    font-size: larger;

    opacity: 10;
    text-align: center;
}

.first>select,
.first>input {
    margin-left: 520px;
    padding: 20px;
    width: fit-content;

}

.second {
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    color: blue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-left: 10px;
}

.third {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 30px;
    justify-content: space-evenly;
    background-color: aquamarine;
}

.thirdgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.thirdgridbox {
    display: flex;
    background-color: aqua;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.thirdgridbox>img {
    width: 100px;
    height: 100px;
}

.thirdgridbox>p {
    font-size: larger;

}

.fourth {
    background-color: lightgrey;
}

.forthflex {
    margin-top: 100px;
    height: 300px;
    display: flex;
    justify-content: space-around;

}

.forthflex>img {
    height: 200px;
    width: 300px;
}

.fifth {
    display: flex;
    align-items: center;

}

.fifth>img {
    margin-right: 15px;
    height: 560px;
    width: 60%;
}

.sixth {
    display: flex;
    height: 300px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    border: 2px solid black;

}

.fflex {

    border-right: 1px solid black;
}

#slide {
    display: flex;
    height: 100%;
    width: 90%;


}

#slide>div:nth-child(2) {
    display: flex;
    align-items: center;
}

#slideh2 {
    font-size: smaller;
    text-align: center;
    margin-bottom: 10px;

}

#prev,
#next {
    height: 40px;
    width: 25px;
    background-color: rgb(21, 189, 122);
    margin-top: 120px;
    font-weight: bolder;

}

.sixth img {
    height: 90%;
    width: 250px;
    align-self: center;

}

.seventh {
    height: 600px;
    width: 100%;
    border: 1px solid rgb(3, 3, 3);
    background-color: #2e86de;
    margin-top: 70px;


}

.seven1 {
    display: flex;
    height: 70%;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;


}

.seven2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.seven2h {
    border-bottom: 2px solid black;
}

.seven2 img {
    height: 20%;
    margin-right: 60px;
    margin-top: 10px;
}

.course {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    text-align: center;
}

.cbox {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.course img {
    height: 100px;
    width: 200px;
}

.cutp {
    font-style: oblique;
    color: red;
}

.pp {
    color: green;
}

.carta {
    color: #2e86de;
    background-color: aquamarine;
    border-radius: 100px;

}
.signupp>h2{
    margin-left: 400px;
    width: 200px;
    background-color: #2e14c2;
    color: aquamarine;
}

form {
    
    margin-left: 400px;
    width: 30%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 80px;
    text-align: center;
}

